---
import { Picture, Image } from "@astrojs/image/components"
import Layout from "../layouts/Layout.astro";
import { Container } from "../components/Container";

const allImages = await Astro.glob("../assets/home/*.{jpg,png,jpeg}")
const randomWidth = () => {
    return Math.floor(Math.random() * (800 - 500 + 1) + 500)
}

import bottom1 from "../assets/home/9.jpg";
import bottom2 from "../assets/home/10.jpg";
import {FiFacebook} from "react-icons/fi/index";
import {FiInstagram} from "react-icons/fi/index";
import {HiOutlineMail} from "react-icons/hi/index";
---

<Layout title="Havasi Dániel Edvin - Főoldal">
  <div class="relative w-full h-full overflow-hidden">
    <img src="/assets/home.jpg" alt="" class="rounded-b-3xl" />
    <h1
      class="absolute text-5xl text-black top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 uppercase text-center"
    >
      The art of <span class="font-allison">photography</span>
    </h1>
  </div>
  <Container>
    <div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-3">
        {
            allImages.slice(0, 6).map((image) => (
                <div class="flex flex-col">
                    <Image src={image.default} aspectRatio={16/9} width={randomWidth()} height={randomWidth()} />
                </div>
            ))
        }
        <div class="flex flex-col">
            <Image src={bottom1} aspectRatio={16/9} width={randomWidth()} height={randomWidth()}/>
        </div>
        <div class="flex flex-col h-full md:justify-center">
          <div class="flex justify-center text-4xl">
            <FiFacebook className="m-2"/>
            <FiInstagram className="m-2"/>
            <HiOutlineMail className="m-2"/>
            <br>
          </div>
          <div class="flex justify-center text-gray-600">
            <p>&copy; Havasi Edvin Dániel</p>
          </div>
          <div class="flex justify-center text-gray-600">
            <p>Coded by Floriian</p>
          </div>
        </div>
        <div class="hidden md:flex md:flex-col">
            <Image src={bottom2} aspectRatio={16/9} width={randomWidth()} height={randomWidth()}/>
        </div>
    </div>
  </Container>
</Layout>
